<div ng-controller="cardMeetingExpandedController as cardMeetingExpandedController">
    <form>
        <div class="form-row">
            <div class="form-group col-5">
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm" uib-datepicker-popup="dd-MMMM-yyyy"
                        datepicker-template-url="app/modules/uib/datepicker.html" show-button-bar="false"
                        is-open="cardMeetingExpandedController.datePopup.addDate"
                        ng-model="cardMeetingExpandedController.meeting.date" ng-required="true">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-sm btn-outline-light btn-transparent btn-transparent-light"
                            ng-click="cardMeetingExpandedController.toggleDatePopup('addDate')">
                            <i class="fas fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-5">
                <div uib-timepicker ng-model="cardMeetingExpandedController.meeting.time" hour-step="1" minute-step="15"
                    template-url="app/modules/uib/timepicker.html"></div>
            </div>
        </div>
    </form>

    <h5 class="text-light">URL</h5>
    <div class="mb-4">
        <span contenteditable="true" ng-contenteditable ng-model="cardMeetingExpandedController.meeting.link"></span>
    </div>

    <h5 class="text-light">Details</h5>
    <div>
        <p contenteditable="false" ng-contenteditable ng-model="cardMeetingExpandedController.meeting.documents"></p>
    </div>
</div>