<div class="col-md-2 card-column my-3 pt-2 pb-3 px-0 mx-2">
    <h3 class="ml-2 mb-3" contenteditable="true" ng-contenteditable ng-model="cardGroupController.data.name"></h3>
    <ul dnd-list="cardGroupController.data.cards" dnd-allowed-types="['card']" dnd-external-sources="true">
    <li ng-repeat="card in cardGroupController.data.cards" dnd-draggable="card" dnd-type="'card'" dnd-moved="cardGroupController.data.cards.splice($index,1)" dnd-effect-allowed="move">
        <div ng-switch="card.type">
            <card-text ng-switch-when="Text" data="card" group="cardGroupController.groupInfo"></card-text>
            <card-reminder ng-switch-when="Reminder" data="card" group="cardGroupController.groupInfo"></card-reminder>
            <card-to-do-list ng-switch-when="To-do list" data="card" group="cardGroupController.groupInfo"></card-to-do-list>
            <card-meeting ng-switch-when="Meeting" data="card" group="cardGroupController.groupInfo"></card-meeting>
            <card-stock ng-switch-when="Grocery stock" data="card" group="cardGroupController.groupInfo"></card-stock>
            <card-refill ng-switch-when="Grocery refill" data="card" group="cardGroupController.groupInfo"></card-refill>
        </div>
    </li>
    </ul>
</div>