<div class="col-md-2 card-column my-3 pt-2 pb-3 px-0 mx-2" context-menu="cardGroupController.contextMenuOptions">
    <h3 class="ml-2 mb-3" contenteditable="true" ng-contenteditable ng-model="cardGroupController.data.name"></h3>
    <div class="card-column-list" dnd-list="cardGroupController.data.cards" dnd-allowed-types="['card']" dnd-external-sources="true">
        <div ng-repeat="card in cardGroupController.data.cards" dnd-draggable="card" dnd-type="'card'" dnd-moved="cardGroupController.data.cards.splice($index,1)" dnd-effect-allowed="move">
            <div ng-switch="card.type">
                <card-text ng-switch-when="Text" data="card" group="cardGroupController.groupInfo">
                </card-text>
                <card-reminder ng-switch-when="Reminder" data="card" group="cardGroupController.groupInfo">
                </card-reminder>
                <card-to-do-list ng-switch-when="To-do list" data="card" group="cardGroupController.groupInfo">
                </card-to-do-list>
                <card-meeting ng-switch-when="Meeting" data="card" group="cardGroupController.groupInfo"></card-meeting>
                <card-stock ng-switch-when="Grocery stock" data="card" group="cardGroupController.groupInfo">
                </card-stock>
                <card-refill ng-switch-when="Grocery refill" data="card" group="cardGroupController.groupInfo">
                </card-refill>
                <card-weather ng-switch-when="Weather" data="card" group="cardGroupController.groupInfo"></card-weather>
            </div>
        </div>
        <div class="mx-2 mt-2 px-1 py-2 add-card d-flex align-items-center">
            <button class="btn btn-outline-light btn-transparent btn-transparent-light btn-sm" ng-click="cardGroupController.addCard('Text')"><i class="fas fa-align-left"></i></button>
            <button class="btn btn-outline-light btn-transparent btn-transparent-light btn-sm" ng-click="cardGroupController.addCard('Reminder')"><i class="fas fa-bell"></i></button>
            <button class="btn btn-outline-light btn-transparent btn-transparent-light btn-sm" ng-click="cardGroupController.addCard('To-do list')"><i class="fas fa-check-square"></i></button>
            <button class="btn btn-outline-light btn-transparent btn-transparent-light btn-sm" ng-click="cardGroupController.addCard('Meeting')"><i class="fas fa-handshake"></i></button>
            <button class="btn btn-outline-light btn-transparent btn-transparent-light btn-sm" ng-click="cardGroupController.addCard('Grocery stock')"><i class="fas fa-carrot"></i></button>
            <button class="btn btn-outline-light btn-transparent btn-transparent-light btn-sm" ng-click="cardGroupController.addCard('Grocery refill')"><i class="fas fa-sync"></i></button>
        </div>
    </div>
</div>