<table class="uib-timepicker">
    <tbody>
        <tr>
            <td class="form-group uib-time hours" ng-class="{'has-error': invalidHours}">
                <input type="text" placeholder="HH" ng-model="hours" ng-change="updateHours()"
                    class="form-control text-center" ng-readonly="::readonlyInput" maxlength="2"
                    tabindex="{{::tabindex}}" ng-disabled="noIncrementHours()" ng-blur="blur()">
            </td>
            <td class="uib-separator">:</td>
            <td class="form-group uib-time minutes" ng-class="{'has-error': invalidMinutes}">
                <input type="text" placeholder="MM" ng-model="minutes" ng-change="updateMinutes()"
                    class="form-control text-center" ng-readonly="::readonlyInput" maxlength="2"
                    tabindex="{{::tabindex}}" ng-disabled="noIncrementMinutes()" ng-blur="blur()">
            </td>
            <td ng-show="showSeconds" class="uib-separator">:</td>
            <td class="form-group uib-time seconds" ng-class="{'has-error': invalidSeconds}" ng-show="showSeconds">
                <input type="text" placeholder="SS" ng-model="seconds" ng-change="updateSeconds()"
                    class="form-control text-center" ng-readonly="readonlyInput" maxlength="2" tabindex="{{::tabindex}}"
                    ng-disabled="noIncrementSeconds()" ng-blur="blur()">
            </td>
            <td ng-show="showMeridian" class="uib-time am-pm">
                <button type="button"
                    ng-class="{disabled: noToggleMeridian()}" class="btn btn-sm btn-outline-light btn-transparent btn-transparent-light text-center"
                    ng-click="toggleMeridian()" ng-disabled="noToggleMeridian()"
                    tabindex="{{::tabindex}}">{{meridian}}</button>
            </td>
        </tr>
    </tbody>
</table>